.left-navbar {
    width: 200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 0.5cm;
    padding-left: 0.3cm;
    position: fixed;
    background-color: white;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 16px;
  }
  
  .nav-menu div {
    display: flex;
    align-items: center;
    padding-left: 6px;
    gap: 16px;
    border-radius: 8px;
    height: 44px;
    cursor: pointer;
  }
  
  .nav-menu div:hover {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .nav-menu div:hover svg {
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  .nav-menu svg {
    width: 28px;
    height: 28px;
  }
  
  .menu-div svg {
    width: 28px;
    height: 28px;
  }
  .menu-div {
    display: flex;
    align-items: center;
    padding-left: 6px;
    gap: 16px;
    border-radius: 8px;
    height: 44px;
    margin-top: 20px;
    cursor: pointer;
    
  }
  
  .menu-div:hover {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0);
  }
  .Vector {
    width: 100px;
    height: 30px;
  }
  .dialog-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dialog-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  