*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}
.PageSignIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1cm;
    gap: 20px;
  }
  
  .SignIn {
    display: flex;
    border: 1px solid;
    border-color: #e1d4d4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 280px;
    padding: 20px 40px;
    gap: 16px;
  }
  .VectorInsta {
    width: 175px;
    height: 60px;
  }
.LeftSide{
    position: relative;
    width:400px ;
}
  .screenshot1{
    position: absolute;
    height: 600px;
    background-color: black;
    border-radius: 30px;
  }
  .screenshot2{
    position: absolute;
    height: 600px;
    background-color: black;
    border-radius: 30px;
    left: 100px;
    top: 25px;
  }

  .frame1{
    position: absolute;
    width: 310px;
    height: 638px;
    right: 110px;
    bottom: -15px;    
  }
  .frame2{
    position: absolute;
    width: 310px;
    height: 632px;
    left: 88px;
    top: 14px;
  }
  .PageSignInUp{
    display: flex;
    gap: 16px;
  }
  /* .facebook-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    color: #385185;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .facebook-button:hover {
    text-decoration: none;
  }
  .facebookic {
    display: flex;
    width: 16px;
    height: 16px;
  } */
  .Forgot {
    color: #385185;
  }
  .SecBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 41px;
    width: 280px;
    border: 1px solid;
    border-color: #e1d4d4;
    padding: 20px 40px;
    margin-top: 10px;
  }
  .SignUpLink {
    color: #0095f6;
    text-decoration: none;
  }
  .ThirdBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    width: 390px;
    /* border: 1px solid; */
    margin-top: 15px;
    gap: 16px;
  }
  .TwoLogo {
    display: flex;
    gap: 10px;
  }
  
  .AppStore {
    width: 136px;
    height: 40px;
  }
  .GooglePlay {
    width: 136px;
    height: 40px;
  }
  Footer {
    .Footer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  }

  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(201, 47, 47);
    font-size: 14px;
    margin-top: 10px;
  }
  