
  


  
  .username__left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .username__info,
  .mainUsername__info {
    display: flex;
    flex-direction: column;
  }
  
  .relation {
    color: grey;
    font-size: 12px;
  }
  
  
  .Usersuggestions__username{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .follow__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0095f6;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .follow__button:hover {
    color: white;
  }
  
  .username {
    font-weight: 600;
    font-size: 14px;
  }
  
  .suggestions__usernames {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  