.footer {
    background-color: white;
    color: gray;
    text-align: center;
    padding: 20px;
    margin: 50px 0px;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .verified {
    display: block;
  }
  
  .footer-text {
    font-size: 14px;
  }
  